.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 85px 1fr;
}

.main {
    background-color: #cafefe;
    width: 100vw;
    align-items: center;
}

header {
    width: 80vw;
    margin: 2px auto;
    display: grid;
    grid-template-columns: 40px 5fr 1fr 55px 55px;
    grid-gap: 5px;

}

header > h2 {
    grid-column: 2;
}

#sortPriority {
    grid-column: 3;
    display: flex;
}

#up, #down {
    width: 15px;
}
#up:hover, #down:hover {
    cursor: pointer;
}

textarea {
    max-width: 450px;
    max-height: 45px;
}