.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 85px 1fr;
}

.panel {
    background-color: #55bcc9;
}

.main {
    background-color: #cafefe;
}

span {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
span > * {
    width: 200px;
}

#sortPriority {
    display: flex;
}

#up, #down {
    width: 15px;
}
#up:hover, #down:hover {
    cursor: pointer;
}

textarea {
    max-width: 450px;
    max-height: 45px;
}